In [17]:
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
w = pd.read_csv("symulacja_lab0.csv", sep=";")
w = w.replace(",",".",regex=True)
w.columns = ["A","B","C","D"]
w = w.drop(columns=["D"])
w

      A              B              C
0   0.1      0.0640747        1.22106
1   0.2       0.229469        2.00862
2   0.3       0.449414         2.3138
3   0.4       0.678083        2.20116
4   0.5       0.880236        1.80843
..  ...            ...            ...
95  9.6    9.97841e-05   -0.000433241
96  9.7    5.27842e-05   -0.000489822
97  9.8    5.06607e-06   -0.000450508
98  9.9   -3.48965e-05   -0.000339541
99   10   -6.15204e-05   -0.000189298

[100 rows x 3 columns]